<!DOCTYPE html>
<html>
<head>
	<title>Finding Friends!</title>
</head>
<body>
    {% if friends_with %}
        <h3> Here are your friends: </h3>
        <ul>
            {% for friend in friends_with %}
                <li><a href=""{{friend}}></li>
            {%endfor%}
        </ul>
    {% endif % }

    <h3>Find New Friends: </h3>
    <form action="{{ url_for('results') }}" method = "POST">
        <input type="text" name = "friendEmail" placeholder="Users Email"/>
        <input type = "hidden" value = {{friend_id}} name="hidden" required = 'true' />
        <br/>
        <input type="submit" name="submit" placeholder="Search for friends"/>
    </form>

    {% if user_creds %}
        <h3> Here is your result: </h3>
        <p>{{user_creds}}</p>
        <form action="{{url_for('add_friends')}}" method = "POST">
            <input type="submit" name="add_friend" value="add friend"/>
            <input type = "hidden" value = {{friend_id}} name="friend_id" required = 'true' />
        </form>
    {%endif%}

</body>