<!DOCTYPE html>

<html>

<head>

	<title>Finding Friends!</title>

</head>

<body> 
    <h3>Here are your friends: </h3>
    {%if friends%}
        <ul>
            {%for friend in friends%}
            <li><a href=""{{friend}}></li>
            {%endfor%}
        </ul>
    {%endif%}



    <h3>Find New Friends: </h3>
    <form method="post" action="{{ url_for('results') }}"> 
        <label for="new_friends">Enter their email:</label>
        <input type="text" name="friendEmail" /><br />
        <input type="hidden" value = {{friend_id}} name="hidden" required='true' /><br />
        <input type="submit" /> 
    </form>





    {% if user_creds %}
        <h3> Here is your result: </h3>
        <p>{{user_creds}}</p>
        <form action="{{url_for('add_friends')}}" method = "POST">
            <input type="submit" name="add_friend" value="add friend"/>
            <input type = "hidden" value = {{friend_id}} name="friend_id" required = 'true' />
        </form>
    {%endif%}



    <ul>
        <li><a href='/allphotos'>View All photos</a></li>
        <li><a href='/allalbums'>View All Albums</a></li>
        <li><a href='/userphotos'>View User photos</a></li>
        <li><a href='/photos'>photo/album modification</a></li>
        <li><a href='/contribution_score'>View Contribution Score</a></li>
        <li><a href ='/add_friend'>Add Friend</a></li>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>

    

</body>