<head>
    <title>Here are all the photos!</title>
</head>
<!DOCTYPE html>
<body>
	{% if name %}
	  <h1>Hello {{ name }}!</h1>
	{% endif %}

	{% if message %}
	  <h1> {{ message }}!</h1>
	{% endif %}

	{% if photos %}
		<h2>Here's your photos</h2>
	    <ul>
	    
        
    {% for picture_id in photos %}
		<p>{{picture_id}}</p>

               <li>
            </br>
            <img width="450px" height="300px" src='data:image/png;base64, {{ (picture_id[1]) }}'/>


            <a href="{{ url_for('viewlikecomment', picture_id =picture_id) }}">
                 view single photo's information (likes and comments and caption)
            </a>
            

        {% if comments %}
            <h2>Comments </h2>
            {%  for comment in comments %}
                <ul>
                    <li>{{ comment }}</li>
                </ul>
            {% endfor %}
        {% endif %}

        {% if likes %}
            <h3>Likes:</h3>
        <p>{{ likes[i] }}</p>

        <h2> Users who like this picture:</h2>
        {% for user in usersLiked[picture_id] %}
            <p>{{ user }}</p>
            {% endfor %}
        {% endif %}

        
        <p>{{picture_id}}</p>
        <form action = "add_comment" method = "POST">
            <input type = "text" name = "comment" />
            <input type="hidden" name="picture_id" required='true' value={{picture_id}} required='true' />
            <input type= "submit" name = "comment" value = "Add Comment"/>
  
        </form>
        <form action = "add_like" method = "POST">
            <input type = "button" name = "add_like" />
            <input type = "hidden" value = {{ picture_id}} name = "picture_id" required = 'true' />
            <input type = "submit" name = "add_like" value = "like" />
        </form>
       

        </li>


	{% endfor %}
        
    {% endif %}







---------------

   

<ul>
    <li><a href='/allphotos'>View All photos</a></li>
    <li><a href='/allalbums'>View All Albums</a></li>
    <li><a href='/userphotos'>View User photos</a></li>
    <li><a href='/photos'>photo/album modification</a></li>
    <li><a href='/contribution_score'>View Contribution Score</a></li>
    <li><a href ='/add_friend'>Add Friend</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>



