<head>
    <title>Here are all the photos!</title>
</head>

{% if photos %}
<h2>Here are all the photos</h2>


    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <a href=”/like-comment“> <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width=”100″ height=”132″> </a>
        <h3> Click on photo to like or comment</h3>
        
        <form>
            <label for="add_comment">Please comment:</label>
            <input type="text" name="add_comment" required='false' />
        </form>
        <a href = "/Like"><input type = "button" value = "Like the photo"></a>
    {% endfor %}
    </ul>
{% endif %}

<ul>
    <li><a href='/allphotos'>View All photos</a></li>
    <li><a href='/allalbums'>View All Albums</a></li>
    <li><a href='/userphotos'>View User photos</a></li>
    <li><a href='/create_album'>Create an Album!</a></li>
    <li><a href='/contribution_score'>View Contribution Score</a></li>
    <li><a href ='/add_friend'>Add Friend</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>

