<h2> My contribution score:</h2>


{% if content %}


<h1> {{ content }}!<br /></h1>

{% endif %}

<ul>
    <li><a href='/allphotos'>View All photos</a></li>
    <li><a href='/userphotos'>View User photos</a></li>
    <li><a href='/photos'>Create albums</a></li>
    <li><a href='/my_contribution_score'>View Contribution Score</a></li>
    <li><a href = '/top_10_users'>View top tags and contributers</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href ='/add_friend'>Add Friend</a></li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
    </ul>