<!DOCTYPE html>
<body>
	{% if name %}
	  <h1>Hello {{ name }}!</h1>
	{% endif %}

	{% if message %}
	  <h1> {{ message }}!</h1>
	{% endif %}

	{% if albums %}
		<h2>Here's your albums</h2>
	    <ul>
	    
        
    {% for albumName in albums %}
		<p>{{albumName}}</p>

        <li>

            <a href="{{ url_for('viewAlbumInfo', albumName=albumName) }}">
            view single album's information (photos in album)
        </a>

           

        <form action = "remove_album" method = "POST">
            <input type = "text" name = "remove_album" />
            <input type="hidden" name="albumName" required='true' value={{albumName}} required='true' />
            <input type= "submit" name = "delete_photo" value = "Remove Album"/>
  
        </form>

        <form method="post" enctype="multipart/form-data" action="upload_album_photos">
            <label for="photo">Upload photo to album:</label>
            <input type="file" name="photo" required='true' /><br />
            <label for="caption">Please caption:</label>
            <input type="text" name="caption" required='true' /><br />
            <input type="hidden" name="albumName" required='true' value={{albumName}} required='true' />
            <input type="submit" value="Upload" />
        </form>
        
        


	{% endfor %}
    {% endif %}

    {% if photos %}
        
	

	<div class="col-md-6">
		<div id="logbox">
	      <form action="create_album" method='POST'>
	        <h1>Create a new album</h1>
	        <input name="albumName" type="text" placeholder="enter the name of your album" class="input pass"/>
	        <input name="submit" type="submit" value="Create Album" class="inputButton"/>
	      </form>
	    </div>
	</div>

    {% endif %}

	{% if photos %}
		<h2>Here's your photos</h2>
	    <ul>
		    {% for i in range(photos|length) %}
                
		        <li><img width="450px" height="300px" src='data:image/png;base64, {{photos[i][0]}}'/></li>
		        <form method="post" enctype="multipart/form-data" action="{{ url_for('add_tag') }}">
		        	<input type="hidden" name="albumName" required='true' value={{albumName}} required='true' />
				</form>
		        
		    {% endfor %}
	    </ul>
	{% endif %}
    
</li>
</body>


<ul>
    <li><a href='/allphotos'>View All photos</a></li>
    <li><a href='/userphotos'>View User photos</a></li>
    <li><a href='/photos'>Create albums</a></li>
    <li><a href='/my_contribution_score'>View Contribution Score</a></li>
    <li><a href = '/top_10_users'>View top tags and contributers</a></li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href ='/add_friend'>Add Friend</a></li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
    </ul>















